
@{
    ViewData["Title"] = "Loi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="flex-fill">

    <!-- Error title -->
    <div class="text-center mb-3">
        <h1 class="error-title offline-title">@ViewBag.RouteOfException</h1>
        <h5>@ViewBag.ErrorMessage</h5>
    </div>
</div>


